* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.5%;
}

body {
    background: var(--black);
    overflow: auto;
}

iframe {
    width: 100%;
    height: 100%; 
    border: none; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

#loc {
    background: var(--black);
}

#container-main {
    width: min(90vw, 800px);
    margin-inline: auto;
}

