
header {
    background: var(--black);

}
nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.link {
    color: var(--white);
}
.link.squash {
    background: none;
    font: normal 2rem 'Roboto', sans-serif;
}

.link.dev{
    background: none;
    font: normal 2rem 'Questrial', sans-serif;
    letter-spacing:1px;
}

.link.action{
    font: normal 1.5rem 'Questrial', sans-serif;
    letter-spacing: 1px;
    padding: 50px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.link.action:hover{
    background-color: var(--orange);
}


#loc {
    color: var(--orange);
}
#loc:hover {
    color: var(--white);
}

.menu-icon {
    display: none;
    visibility: hidden;
}

.nav-docs {
    display: none;
    background: #333333;
    position: absolute;
    width: 100%;
    z-index: 1;
    transition: 0.8s;
    
}
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.cards {
    padding: 4rem;
    cursor: pointer;
    transition: 0.4s;
}  
.cards:hover{
    background-color:var(--black);
}
.circle {
    width:100%;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
} 
.circle.api {
    background: #4ECAFF;
}
.circle.mobile {
    background: #FF6C26;
}
.circle.design {
    background: #FF2626;
}
.circle.team {
    background: #4E5FFF;
}
.img-nav {
    width: 3.5rem;
}